/* Global properties */
body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333333;
    font-family: "Lucida Grande", Arial, Verdana, sans-serif;
    overflow-y: scroll;
}

::-moz-selection { /* Code for Firefox */
    color: #FFFFFF;
    background: #224AAD;
}

::selection {
    color: #FFFFFF;
    /*
        [IMPORTANT!] Don't change the opacity value.
    */
    background: rgba(34, 74, 173, .97);
}

/* The navbar */
nav {
    font-size: 20px;
    text-align: center;
    height: 2%;
}

/* Make the links white */
nav ul a:visited, nav ul a:link {
    color: white;
}

/* Change the color of the nav buttons on hover */
nav ul li:hover {
    background-color: #224AAD;
}

/* Properties of the nav buttons */
nav ul li {
    display: inline;
    padding: 10px;
    background: #1C3F95;
    transition: .25s background-color;
}

/* Styling for every table */
table, th, td {
    border: 1px solid gray;
}

/* Main content of every page */
.main {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin: 10px 5em 10px 5em;
}

/* Put a seperator between the language cells so its more readable */
.langcell {
    border-top: 1px solid #E0E0E0;
}

/* AHS logo displayed on the main page */
.logo {
    margin-top: 50px;
}

/* Make the table header blue */
.langtable th {
    background-color: #224AAD;
    color: #FFFFFF;
}

/* Class for the appear animation */
.fadein {
    -webkit-animation: appear 2.3s;
    -moz-animation: appear 2.3s;
    -o-animation: appear 2.3s;
    animation: appear 2.3s;
}

/* Provide a way to center elements */
.center {
    text-align: center;
}

/* Appear animation */
@-webkit-keyframes appear {
    from {opacity: 0;}
    from {margin-top: 50px}
    to {margin-top: 10px}
    to {opacity: 1;}
} 

/* Appear animation */
@keyframes appear {
    from {opacity: 0;}
    from {margin-top: 50px}
    to {margin-top: 10px}
    to {opacity: 1;}
} 

/* Appear animation */
@-MOZ-keyframes appear {
    from {opacity: 0;}
    from {margin-top: 50px}
    to {margin-top: 10px}
    to {opacity: 1;}
} 

/* Appear animation */
@-0-keyframes appear {
    from {opacity: 0;}
    from {margin-top: 50px}
    to {margin-top: 10px}
    to {opacity: 1;}
} 

/* Appear animation */
@-ms-keyframes keyarm {
    from {opacity: 0;}
    from {margin-top: 50px}
    to {margin-top: 10px}
    to {opacity: 1;}
}


/* Center all h1s */
h1 {
    text-align: center;
}

/* Make links look better */
a:link, a:visited {
    color: #38488F;
    text-decoration: none;
}
