body {
    background-color: #F0F0F2;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    font-size: 20px;
    text-align: center;
    height: 50px;
}

nav ul a:visited, nav ul a:link {
    color: white;
}

nav ul li:hover {
    background-color: #224AAD;
}

nav ul li {
    display: inline;
    padding: 10px;
    background: #1c3f95;
    line-height: 50px;
    transition: .25s background-color;
}

table, th, td {
    border: 1px solid gray;
}

div.main {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin: 10px 5em 10px 5em;
}

div.langcell {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

div.logo {
    margin-top: 50px;
}

th#th01{
    background-color: #224AAD;
    color: #E0E0E0;
}

#center {
    text-align: center;
}

h1 {
    text-align: center;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
